@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --secondary: #3D3D3D;
  --primary: #46A358;
}

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style-type: none;
}

